body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Yu Gothic UI";
}

a {
  color: gray;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#canvas {
  background-color: white; width: 960px; height: 720px;
}

.description {
  margin: 10px;
  text-align: center;
  color: gray;
}

.spacer {
  margin: 5px;
}
